<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductoCreateDlg" widgetVar="ProductoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{mensajes.CreateProductoTitle}" closeOnEscape="true">

            <h:form id="ProductoCreateForm">

                <h:panelGroup id="display" rendered="#{productoController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{mensajes.CreateProductoLabel_categoria}" for="categoria" />
                        <p:inputText id="categoria" value="#{productoController.selected.categoria}" title="#{mensajes.CreateProductoTitle_categoria}"/>

                        <p:outputLabel value="#{mensajes.CreateProductoLabel_cantidadDis}" for="cantidadDis" />
                        <p:inputText id="cantidadDis" value="#{productoController.selected.cantidadDis}" title="#{mensajes.CreateProductoTitle_cantidadDis}"/>

                        <p:outputLabel value="#{mensajes.CreateProductoLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{productoController.selected.precio}" title="#{mensajes.CreateProductoTitle_precio}"/>

                        <p:outputLabel value="#{mensajes.CreateProductoLabel_status}" for="status" />
                        <p:inputText id="status" value="#{productoController.selected.status}" title="#{mensajes.CreateProductoTitle_status}"/>

                        <p:outputLabel value="#{mensajes.CreateProductoLabel_idCategoria}" for="idCategoria" />
                        <p:selectOneMenu id="idCategoria" value="#{productoController.selected.idCategoria}" required="true" requiredMessage="#{mensajes.CreateProductoRequiredMessage_idCategoria}" converter="categoriaConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{categoriaController.items}"
                                           var="idCategoriaItem"
                                           itemValue="#{idCategoriaItem}"
                                           itemLabel="#{idCategoriaItem.idCategoria.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productoController.saveNew}" value="#{mensajes.Save}" update="display,:ProductoListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ProductoCreateDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('ProductoCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
