<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ProductoEditDlg" widgetVar="ProductoEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.EditProductoTitle}" closeOnEscape="true">

            <h:form id="ProductoEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{productoController.selected != null}">


                        <h:outputLabel value="#{mensajes.EditProductoLabel_idProducto}" for="idProducto" />
                        <h:outputText id="idProducto" value="#{productoController.selected.idProducto}" />

                        <p:outputLabel value="#{mensajes.EditProductoLabel_categoria}" for="categoria" />
                        <p:inputText id="categoria" value="#{productoController.selected.categoria}" title="#{mensajes.EditProductoTitle_categoria}"/>

                        <p:outputLabel value="#{mensajes.EditProductoLabel_cantidadDis}" for="cantidadDis" />
                        <p:inputText id="cantidadDis" value="#{productoController.selected.cantidadDis}" title="#{mensajes.EditProductoTitle_cantidadDis}"/>

                        <p:outputLabel value="#{mensajes.EditProductoLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{productoController.selected.precio}" title="#{mensajes.EditProductoTitle_precio}"/>

                        <p:outputLabel value="#{mensajes.EditProductoLabel_status}" for="status" />
                        <p:inputText id="status" value="#{productoController.selected.status}" title="#{mensajes.EditProductoTitle_status}"/>

                        <p:outputLabel value="#{mensajes.EditProductoLabel_idCategoria}" for="idCategoria" />
                        <p:selectOneMenu id="idCategoria" value="#{productoController.selected.idCategoria}" required="true" requiredMessage="#{mensajes.EditProductoRequiredMessage_idCategoria}" converter="categoriaConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{categoriaController.items}"
                                           var="idCategoriaItem"
                                           itemValue="#{idCategoriaItem}"
                                           itemLabel="#{idCategoriaItem.idCategoria.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productoController.save}" value="#{mensajes.Save}" update="display,:ProductoListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ProductoEditDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('ProductoEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
