<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ProductoListForm">

        <p:panel header="#{mensajes.ListProductoTitle}">
            <p:contextMenu id="ProductoDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{mensajes.Create}" onclick="document.getElementById('ProductoListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{mensajes.View}" onclick="document.getElementById('ProductoListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{mensajes.Edit}" onclick="document.getElementById('ProductoListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{mensajes.Delete}" onclick="document.getElementById('ProductoListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{mensajes.ProductoMenuItem_ordenesCollection}" icon="ui-icon-search"  action="#{productoController.navigateOrdenesCollection}" disabled="#{empty productoController.selected.ordenesCollection}" ajax="false"/>  
                <p:menuitem value="#{mensajes.ProductoMenuItem_idCategoria}" icon="ui-icon-search"  actionListener="#{productoController.prepareIdCategoria}" update=":CategoriaViewForm" oncomplete="PF('CategoriaViewDialog').show()" disabled="#{empty productoController.selected.idCategoria}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{productoController.items}"
                         var="item"
                         rowKey="#{item.idProducto}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{productoController.selected}">

                <p:ajax event="rowSelect"   update=":ProductoListForm:createButton :ProductoListForm:viewButton :ProductoListForm:editButton :ProductoListForm:deleteButton :ProductoListForm:ProductoDataTableContextMenu" listener="#{productoController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":ProductoListForm:createButton :ProductoListForm:viewButton :ProductoListForm:editButton :ProductoListForm:deleteButton :ProductoListForm:ProductoDataTableContextMenu" listener="#{productoController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ProductoListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idProducto}" filterBy="#{item.idProducto}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListProductoTitle_idProducto}"/>
                    </f:facet>
                    <h:outputText value="#{item.idProducto}"/>
                </p:column>


                <p:column sortBy="#{item.categoria}" filterBy="#{item.categoria}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListProductoTitle_categoria}"/>
                    </f:facet>
                    <h:outputText value="#{item.categoria}"/>
                </p:column>


                <p:column sortBy="#{item.cantidadDis}" filterBy="#{item.cantidadDis}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListProductoTitle_cantidadDis}"/>
                    </f:facet>
                    <h:outputText value="#{item.cantidadDis}"/>
                </p:column>


                <p:column sortBy="#{item.precio}" filterBy="#{item.precio}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListProductoTitle_precio}"/>
                    </f:facet>
                    <h:outputText value="#{item.precio}"/>
                </p:column>


                <p:column sortBy="#{item.status}" filterBy="#{item.status}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListProductoTitle_status}"/>
                    </f:facet>
                    <h:outputText value="#{item.status}"/>
                </p:column>


                <p:column sortBy="#{item.idCategoria.idCategoria}" filterBy="#{item.idCategoria.idCategoria}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListProductoTitle_idCategoria}"/>
                    </f:facet>
                    <h:outputText value="#{item.idCategoria.idCategoria}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{mensajes.Create}" actionListener="#{productoController.prepareCreate}" update=":ProductoCreateForm" oncomplete="PF('ProductoCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{mensajes.View}" update=":ProductoViewForm" oncomplete="PF('ProductoViewDialog').show()" disabled="#{empty productoController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{mensajes.Edit}" update=":ProductoEditForm" oncomplete="PF('ProductoEditDialog').show()" disabled="#{empty productoController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{mensajes.Delete}" actionListener="#{productoController.delete}" update=":growl,datalist" disabled="#{empty productoController.selected}">
                <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>