<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductoViewDlg" widgetVar="ProductoViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.ViewProductoTitle}" closeOnEscape="true">

            <h:form id="ProductoViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{productoController.selected != null}">

                        <h:outputText value="#{mensajes.ViewProductoLabel_idProducto}"/>
                        <h:outputText value="#{productoController.selected.idProducto}" title="#{mensajes.ViewProductoTitle_idProducto}"/>

                        <h:outputText value="#{mensajes.ViewProductoLabel_categoria}"/>
                        <h:outputText value="#{productoController.selected.categoria}" title="#{mensajes.ViewProductoTitle_categoria}"/>

                        <h:outputText value="#{mensajes.ViewProductoLabel_cantidadDis}"/>
                        <h:outputText value="#{productoController.selected.cantidadDis}" title="#{mensajes.ViewProductoTitle_cantidadDis}"/>

                        <h:outputText value="#{mensajes.ViewProductoLabel_precio}"/>
                        <h:outputText value="#{productoController.selected.precio}" title="#{mensajes.ViewProductoTitle_precio}"/>

                        <h:outputText value="#{mensajes.ViewProductoLabel_status}"/>
                        <h:outputText value="#{productoController.selected.status}" title="#{mensajes.ViewProductoTitle_status}"/>

                        <h:outputText value="#{mensajes.ViewProductoLabel_idCategoria}"/>
                        <h:outputText value="#{productoController.selected.idCategoria.idCategoria}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{mensajes.Close}" onclick="PF('ProductoViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
