<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AccesoriosCreateDlg" widgetVar="AccesoriosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{mensajes.CreateAccesoriosTitle}" closeOnEscape="true">

            <h:form id="AccesoriosCreateForm">

                <h:panelGroup id="display" rendered="#{accesoriosController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{mensajes.CreateAccesoriosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{accesoriosController.selected.nombre}" title="#{mensajes.CreateAccesoriosTitle_nombre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateAccesoriosLabel_marca}" for="marca" />
                        <p:inputText id="marca" value="#{accesoriosController.selected.marca}" title="#{mensajes.CreateAccesoriosTitle_marca}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateAccesoriosLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{accesoriosController.selected.descripcion}" title="#{mensajes.CreateAccesoriosTitle_descripcion}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateAccesoriosLabel_nombreIma}" for="nombreIma" />
                        <p:inputText id="nombreIma" value="#{accesoriosController.selected.nombreIma}" title="#{mensajes.CreateAccesoriosTitle_nombreIma}" size="30" maxlength="30"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{accesoriosController.saveNew}" value="#{mensajes.Save}" update="display,:AccesoriosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('AccesoriosCreateDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('AccesoriosCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
