<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="AccesoriosEditDlg" widgetVar="AccesoriosEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.EditAccesoriosTitle}" closeOnEscape="true">

            <h:form id="AccesoriosEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{accesoriosController.selected != null}">


                        <h:outputLabel value="#{mensajes.EditAccesoriosLabel_idAccesorio}" for="idAccesorio" />
                        <h:outputText id="idAccesorio" value="#{accesoriosController.selected.idAccesorio}" />

                        <p:outputLabel value="#{mensajes.EditAccesoriosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{accesoriosController.selected.nombre}" title="#{mensajes.EditAccesoriosTitle_nombre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditAccesoriosLabel_marca}" for="marca" />
                        <p:inputText id="marca" value="#{accesoriosController.selected.marca}" title="#{mensajes.EditAccesoriosTitle_marca}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditAccesoriosLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{accesoriosController.selected.descripcion}" title="#{mensajes.EditAccesoriosTitle_descripcion}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditAccesoriosLabel_nombreIma}" for="nombreIma" />
                        <p:inputText id="nombreIma" value="#{accesoriosController.selected.nombreIma}" title="#{mensajes.EditAccesoriosTitle_nombreIma}" size="30" maxlength="30"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{accesoriosController.save}" value="#{mensajes.Save}" update="display,:AccesoriosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('AccesoriosEditDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('AccesoriosEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
