<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="AccesoriosListForm">

        <p:panel header="#{mensajes.ListAccesoriosTitle}">
            <p:contextMenu id="AccesoriosDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{mensajes.Create}" onclick="document.getElementById('AccesoriosListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{mensajes.View}" onclick="document.getElementById('AccesoriosListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{mensajes.Edit}" onclick="document.getElementById('AccesoriosListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{mensajes.Delete}" onclick="document.getElementById('AccesoriosListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{mensajes.AccesoriosMenuItem_categoriaCollection}" icon="ui-icon-search"  action="#{accesoriosController.navigateCategoriaCollection}" disabled="#{empty accesoriosController.selected.categoriaCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{accesoriosController.items}"
                         var="item"
                         rowKey="#{item.idAccesorio}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{accesoriosController.selected}">

                <p:ajax event="rowSelect"   update=":AccesoriosListForm:createButton :AccesoriosListForm:viewButton :AccesoriosListForm:editButton :AccesoriosListForm:deleteButton :AccesoriosListForm:AccesoriosDataTableContextMenu" listener="#{accesoriosController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":AccesoriosListForm:createButton :AccesoriosListForm:viewButton :AccesoriosListForm:editButton :AccesoriosListForm:deleteButton :AccesoriosListForm:AccesoriosDataTableContextMenu" listener="#{accesoriosController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('AccesoriosListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idAccesorio}" filterBy="#{item.idAccesorio}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAccesoriosTitle_idAccesorio}"/>
                    </f:facet>
                    <h:outputText value="#{item.idAccesorio}"/>
                </p:column>


                <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAccesoriosTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>


                <p:column sortBy="#{item.marca}" filterBy="#{item.marca}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAccesoriosTitle_marca}"/>
                    </f:facet>
                    <h:outputText value="#{item.marca}"/>
                </p:column>


                <p:column sortBy="#{item.descripcion}" filterBy="#{item.descripcion}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAccesoriosTitle_descripcion}"/>
                    </f:facet>
                    <h:outputText value="#{item.descripcion}"/>
                </p:column>


                <p:column sortBy="#{item.nombreIma}" filterBy="#{item.nombreIma}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAccesoriosTitle_nombreIma}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreIma}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{mensajes.Create}" actionListener="#{accesoriosController.prepareCreate}" update=":AccesoriosCreateForm" oncomplete="PF('AccesoriosCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{mensajes.View}" update=":AccesoriosViewForm" oncomplete="PF('AccesoriosViewDialog').show()" disabled="#{empty accesoriosController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{mensajes.Edit}" update=":AccesoriosEditForm" oncomplete="PF('AccesoriosEditDialog').show()" disabled="#{empty accesoriosController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{mensajes.Delete}" actionListener="#{accesoriosController.delete}" update=":growl,datalist" disabled="#{empty accesoriosController.selected}">
                <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>