<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AccesoriosViewDlg" widgetVar="AccesoriosViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.ViewAccesoriosTitle}" closeOnEscape="true">

            <h:form id="AccesoriosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{accesoriosController.selected != null}">

                        <h:outputText value="#{mensajes.ViewAccesoriosLabel_idAccesorio}"/>
                        <h:outputText value="#{accesoriosController.selected.idAccesorio}" title="#{mensajes.ViewAccesoriosTitle_idAccesorio}"/>

                        <h:outputText value="#{mensajes.ViewAccesoriosLabel_nombre}"/>
                        <h:outputText value="#{accesoriosController.selected.nombre}" title="#{mensajes.ViewAccesoriosTitle_nombre}"/>

                        <h:outputText value="#{mensajes.ViewAccesoriosLabel_marca}"/>
                        <h:outputText value="#{accesoriosController.selected.marca}" title="#{mensajes.ViewAccesoriosTitle_marca}"/>

                        <h:outputText value="#{mensajes.ViewAccesoriosLabel_descripcion}"/>
                        <h:outputText value="#{accesoriosController.selected.descripcion}" title="#{mensajes.ViewAccesoriosTitle_descripcion}"/>

                        <h:outputText value="#{mensajes.ViewAccesoriosLabel_nombreIma}"/>
                        <h:outputText value="#{accesoriosController.selected.nombreIma}" title="#{mensajes.ViewAccesoriosTitle_nombreIma}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{mensajes.Close}" onclick="PF('AccesoriosViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
