<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosCreateDlg" widgetVar="UsuariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{mensajes.CreateUsuariosTitle}" closeOnEscape="true">

            <h:form id="UsuariosCreateForm">

                <h:panelGroup id="display" rendered="#{usuariosController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{mensajes.CreateUsuariosLabel_idUsuario}" for="idUsuario" />
                        <p:inputText id="idUsuario" value="#{usuariosController.selected.idUsuario}" title="#{mensajes.CreateUsuariosTitle_idUsuario}" required="true" requiredMessage="#{mensajes.CreateUsuariosRequiredMessage_idUsuario}" size="8" maxlength="8"/>

                        <p:outputLabel value="#{mensajes.CreateUsuariosLabel_password}" for="password" />
                        <p:inputText id="password" value="#{usuariosController.selected.password}" title="#{mensajes.CreateUsuariosTitle_password}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateUsuariosLabel_rol}" for="rol" />
                        <p:inputText id="rol" value="#{usuariosController.selected.rol}" title="#{mensajes.CreateUsuariosTitle_rol}"/>

                        <p:outputLabel value="#{mensajes.CreateUsuariosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{usuariosController.selected.nombre}" title="#{mensajes.CreateUsuariosTitle_nombre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateUsuariosLabel_apP}" for="apP" />
                        <p:inputText id="apP" value="#{usuariosController.selected.apP}" title="#{mensajes.CreateUsuariosTitle_apP}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateUsuariosLabel_apM}" for="apM" />
                        <p:inputText id="apM" value="#{usuariosController.selected.apM}" title="#{mensajes.CreateUsuariosTitle_apM}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateUsuariosLabel_status}" for="status" />
                        <p:inputText id="status" value="#{usuariosController.selected.status}" title="#{mensajes.CreateUsuariosTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuariosController.saveNew}" value="#{mensajes.Save}" update="display,:UsuariosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UsuariosCreateDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('UsuariosCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
