<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UsuariosEditDlg" widgetVar="UsuariosEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.EditUsuariosTitle}" closeOnEscape="true">

            <h:form id="UsuariosEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{usuariosController.selected != null}">


                        <h:outputLabel value="#{mensajes.EditUsuariosLabel_idUsuario}" for="idUsuario" />
                        <h:outputText id="idUsuario" value="#{usuariosController.selected.idUsuario}" />

                        <p:outputLabel value="#{mensajes.EditUsuariosLabel_password}" for="password" />
                        <p:inputText id="password" value="#{usuariosController.selected.password}" title="#{mensajes.EditUsuariosTitle_password}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditUsuariosLabel_rol}" for="rol" />
                        <p:inputText id="rol" value="#{usuariosController.selected.rol}" title="#{mensajes.EditUsuariosTitle_rol}"/>

                        <p:outputLabel value="#{mensajes.EditUsuariosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{usuariosController.selected.nombre}" title="#{mensajes.EditUsuariosTitle_nombre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditUsuariosLabel_apP}" for="apP" />
                        <p:inputText id="apP" value="#{usuariosController.selected.apP}" title="#{mensajes.EditUsuariosTitle_apP}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditUsuariosLabel_apM}" for="apM" />
                        <p:inputText id="apM" value="#{usuariosController.selected.apM}" title="#{mensajes.EditUsuariosTitle_apM}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditUsuariosLabel_status}" for="status" />
                        <p:inputText id="status" value="#{usuariosController.selected.status}" title="#{mensajes.EditUsuariosTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuariosController.save}" value="#{mensajes.Save}" update="display,:UsuariosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UsuariosEditDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('UsuariosEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
