<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="UsuariosListForm">

        <p:panel header="#{mensajes.ListUsuariosTitle}">
            <p:contextMenu id="UsuariosDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{mensajes.Create}" onclick="document.getElementById('UsuariosListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{mensajes.View}" onclick="document.getElementById('UsuariosListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{mensajes.Edit}" onclick="document.getElementById('UsuariosListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{mensajes.Delete}" onclick="document.getElementById('UsuariosListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{mensajes.UsuariosMenuItem_ventasCollection}" icon="ui-icon-search"  action="#{usuariosController.navigateVentasCollection}" disabled="#{empty usuariosController.selected.ventasCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{usuariosController.items}"
                         var="item"
                         rowKey="#{item.idUsuario}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{usuariosController.selected}">

                <p:ajax event="rowSelect"   update=":UsuariosListForm:createButton :UsuariosListForm:viewButton :UsuariosListForm:editButton :UsuariosListForm:deleteButton :UsuariosListForm:UsuariosDataTableContextMenu" listener="#{usuariosController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":UsuariosListForm:createButton :UsuariosListForm:viewButton :UsuariosListForm:editButton :UsuariosListForm:deleteButton :UsuariosListForm:UsuariosDataTableContextMenu" listener="#{usuariosController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('UsuariosListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idUsuario}" filterBy="#{item.idUsuario}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListUsuariosTitle_idUsuario}"/>
                    </f:facet>
                    <h:outputText value="#{item.idUsuario}"/>
                </p:column>


                <p:column sortBy="#{item.password}" filterBy="#{item.password}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListUsuariosTitle_password}"/>
                    </f:facet>
                    <h:outputText value="#{item.password}"/>
                </p:column>


                <p:column sortBy="#{item.rol}" filterBy="#{item.rol}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListUsuariosTitle_rol}"/>
                    </f:facet>
                    <h:outputText value="#{item.rol}"/>
                </p:column>


                <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListUsuariosTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>


                <p:column sortBy="#{item.apP}" filterBy="#{item.apP}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListUsuariosTitle_apP}"/>
                    </f:facet>
                    <h:outputText value="#{item.apP}"/>
                </p:column>


                <p:column sortBy="#{item.apM}" filterBy="#{item.apM}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListUsuariosTitle_apM}"/>
                    </f:facet>
                    <h:outputText value="#{item.apM}"/>
                </p:column>

                <!--
                                    <p:column sortBy="#{item.status}" filterBy="#{item.status}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListUsuariosTitle_status}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.status}"/>
                                    </p:column>
                -->

            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{mensajes.Create}" actionListener="#{usuariosController.prepareCreate}" update=":UsuariosCreateForm" oncomplete="PF('UsuariosCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{mensajes.View}" update=":UsuariosViewForm" oncomplete="PF('UsuariosViewDialog').show()" disabled="#{empty usuariosController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{mensajes.Edit}" update=":UsuariosEditForm" oncomplete="PF('UsuariosEditDialog').show()" disabled="#{empty usuariosController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{mensajes.Delete}" actionListener="#{usuariosController.delete}" update=":growl,datalist" disabled="#{empty usuariosController.selected}">
                <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>