<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuariosViewDlg" widgetVar="UsuariosViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.ViewUsuariosTitle}" closeOnEscape="true">

            <h:form id="UsuariosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{usuariosController.selected != null}">

                        <h:outputText value="#{mensajes.ViewUsuariosLabel_idUsuario}"/>
                        <h:outputText value="#{usuariosController.selected.idUsuario}" title="#{mensajes.ViewUsuariosTitle_idUsuario}"/>

                        <h:outputText value="#{mensajes.ViewUsuariosLabel_password}"/>
                        <h:outputText value="#{usuariosController.selected.password}" title="#{mensajes.ViewUsuariosTitle_password}"/>

                        <h:outputText value="#{mensajes.ViewUsuariosLabel_rol}"/>
                        <h:outputText value="#{usuariosController.selected.rol}" title="#{mensajes.ViewUsuariosTitle_rol}"/>

                        <h:outputText value="#{mensajes.ViewUsuariosLabel_nombre}"/>
                        <h:outputText value="#{usuariosController.selected.nombre}" title="#{mensajes.ViewUsuariosTitle_nombre}"/>

                        <h:outputText value="#{mensajes.ViewUsuariosLabel_apP}"/>
                        <h:outputText value="#{usuariosController.selected.apP}" title="#{mensajes.ViewUsuariosTitle_apP}"/>

                        <h:outputText value="#{mensajes.ViewUsuariosLabel_apM}"/>
                        <h:outputText value="#{usuariosController.selected.apM}" title="#{mensajes.ViewUsuariosTitle_apM}"/>

                        <h:outputText value="#{mensajes.ViewUsuariosLabel_status}"/>
                        <h:outputText value="#{usuariosController.selected.status}" title="#{mensajes.ViewUsuariosTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{mensajes.Close}" onclick="PF('UsuariosViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
