<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="CategoriaEditDlg" widgetVar="CategoriaEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.EditCategoriaTitle}" closeOnEscape="true">

            <h:form id="CategoriaEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{categoriaController.selected != null}">


                        <h:outputLabel value="#{mensajes.EditCategoriaLabel_idCategoria}" for="idCategoria" />
                        <h:outputText id="idCategoria" value="#{categoriaController.selected.idCategoria}" />

                        <p:outputLabel value="#{mensajes.EditCategoriaLabel_idMascota}" for="idMascota" />
                        <p:selectOneMenu id="idMascota" value="#{categoriaController.selected.idMascota}" required="true" requiredMessage="#{mensajes.EditCategoriaRequiredMessage_idMascota}" converter="mascotasConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{mascotasController.items}"
                                           var="idMascotaItem"
                                           itemValue="#{idMascotaItem}"
                                           itemLabel="#{idMascotaItem.idMascota.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{mensajes.EditCategoriaLabel_idAlimento}" for="idAlimento" />
                        <p:selectOneMenu id="idAlimento" value="#{categoriaController.selected.idAlimento}" required="true" requiredMessage="#{mensajes.EditCategoriaRequiredMessage_idAlimento}" converter="alimentosConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{alimentosController.items}"
                                           var="idAlimentoItem"
                                           itemValue="#{idAlimentoItem}"
                                           itemLabel="#{idAlimentoItem.descripcion.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{mensajes.EditCategoriaLabel_idAccesorio}" for="idAccesorio" />
                        <p:selectOneMenu id="idAccesorio" value="#{categoriaController.selected.idAccesorio}" required="true" requiredMessage="#{mensajes.EditCategoriaRequiredMessage_idAccesorio}" converter="accesoriosConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{accesoriosController.items}"
                                           var="idAccesorioItem"
                                           itemValue="#{idAccesorioItem}"
                                           itemLabel="#{idAccesorioItem.descripcion.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{categoriaController.save}" value="#{mensajes.Save}" update="display,:CategoriaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CategoriaEditDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('CategoriaEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
