<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="CategoriaListForm">

        <p:panel header="#{mensajes.ListCategoriaTitle}">
            <p:contextMenu id="CategoriaDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{mensajes.Create}" onclick="document.getElementById('CategoriaListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{mensajes.View}" onclick="document.getElementById('CategoriaListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{mensajes.Edit}" onclick="document.getElementById('CategoriaListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{mensajes.Delete}" onclick="document.getElementById('CategoriaListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{mensajes.CategoriaMenuItem_idMascota}" icon="ui-icon-search"  actionListener="#{categoriaController.prepareIdMascota}" update=":MascotasViewForm" oncomplete="PF('MascotasViewDialog').show()" disabled="#{empty categoriaController.selected.idMascota}"/>  
                <p:menuitem value="#{mensajes.CategoriaMenuItem_idAlimento}" icon="ui-icon-search"  actionListener="#{categoriaController.prepareIdAlimento}" update=":AlimentosViewForm" oncomplete="PF('AlimentosViewDialog').show()" disabled="#{empty categoriaController.selected.idAlimento}"/>  
                <p:menuitem value="#{mensajes.CategoriaMenuItem_idAccesorio}" icon="ui-icon-search"  actionListener="#{categoriaController.prepareIdAccesorio}" update=":AccesoriosViewForm" oncomplete="PF('AccesoriosViewDialog').show()" disabled="#{empty categoriaController.selected.idAccesorio}"/>  
                <p:menuitem value="#{mensajes.CategoriaMenuItem_productoCollection}" icon="ui-icon-search"  action="#{categoriaController.navigateProductoCollection}" disabled="#{empty categoriaController.selected.productoCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{categoriaController.items}"
                         var="item"
                         rowKey="#{item.idCategoria}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{categoriaController.selected}">

                <p:ajax event="rowSelect"   update=":CategoriaListForm:createButton :CategoriaListForm:viewButton :CategoriaListForm:editButton :CategoriaListForm:deleteButton :CategoriaListForm:CategoriaDataTableContextMenu" listener="#{categoriaController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":CategoriaListForm:createButton :CategoriaListForm:viewButton :CategoriaListForm:editButton :CategoriaListForm:deleteButton :CategoriaListForm:CategoriaDataTableContextMenu" listener="#{categoriaController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('CategoriaListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idCategoria}" filterBy="#{item.idCategoria}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListCategoriaTitle_idCategoria}"/>
                    </f:facet>
                    <h:outputText value="#{item.idCategoria}"/>
                </p:column>


                <p:column sortBy="#{item.idMascota.idMascota}" filterBy="#{item.idMascota.idMascota}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListCategoriaTitle_idMascota}"/>
                    </f:facet>
                    <h:outputText value="#{item.idMascota.idMascota}"/>
                </p:column>


                <p:column sortBy="#{item.idAlimento.descripcion}" filterBy="#{item.idAlimento.descripcion}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListCategoriaTitle_idAlimento}"/>
                    </f:facet>
                    <h:outputText value="#{item.idAlimento.descripcion}"/>
                </p:column>


                <p:column sortBy="#{item.idAccesorio.descripcion}" filterBy="#{item.idAccesorio.descripcion}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListCategoriaTitle_idAccesorio}"/>
                    </f:facet>
                    <h:outputText value="#{item.idAccesorio.descripcion}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{mensajes.Create}" actionListener="#{categoriaController.prepareCreate}" update=":CategoriaCreateForm" oncomplete="PF('CategoriaCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{mensajes.View}" update=":CategoriaViewForm" oncomplete="PF('CategoriaViewDialog').show()" disabled="#{empty categoriaController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{mensajes.Edit}" update=":CategoriaEditForm" oncomplete="PF('CategoriaEditDialog').show()" disabled="#{empty categoriaController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{mensajes.Delete}" actionListener="#{categoriaController.delete}" update=":growl,datalist" disabled="#{empty categoriaController.selected}">
                <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>