<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CategoriaViewDlg" widgetVar="CategoriaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.ViewCategoriaTitle}" closeOnEscape="true">

            <h:form id="CategoriaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{categoriaController.selected != null}">

                        <h:outputText value="#{mensajes.ViewCategoriaLabel_idCategoria}"/>
                        <h:outputText value="#{categoriaController.selected.idCategoria}" title="#{mensajes.ViewCategoriaTitle_idCategoria}"/>

                        <h:outputText value="#{mensajes.ViewCategoriaLabel_idMascota}"/>
                        <h:outputText value="#{categoriaController.selected.idMascota.idMascota}"/>

                        <h:outputText value="#{mensajes.ViewCategoriaLabel_idAlimento}"/>
                        <h:outputText value="#{categoriaController.selected.idAlimento.descripcion}"/>

                        <h:outputText value="#{mensajes.ViewCategoriaLabel_idAccesorio}"/>
                        <h:outputText value="#{categoriaController.selected.idAccesorio.descripcion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{mensajes.Close}" onclick="PF('CategoriaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
