<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClienteCreateDlg" widgetVar="ClienteCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{mensajes.CreateClienteTitle}" closeOnEscape="true">

            <h:form id="ClienteCreateForm">

                <h:panelGroup id="display" rendered="#{clienteController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_idCliente}" for="idCliente" />
                        <p:inputText id="idCliente" value="#{clienteController.selected.idCliente}" title="#{mensajes.CreateClienteTitle_idCliente}" required="true" requiredMessage="#{mensajes.CreateClienteRequiredMessage_idCliente}" size="8" maxlength="8"/>

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_password}" for="password" />
                        <p:inputText id="password" value="#{clienteController.selected.password}" title="#{mensajes.CreateClienteTitle_password}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{clienteController.selected.nombre}" title="#{mensajes.CreateClienteTitle_nombre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_apP}" for="apP" />
                        <p:inputText id="apP" value="#{clienteController.selected.apP}" title="#{mensajes.CreateClienteTitle_apP}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_apM}" for="apM" />
                        <p:inputText id="apM" value="#{clienteController.selected.apM}" title="#{mensajes.CreateClienteTitle_apM}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{clienteController.selected.direccion}" title="#{mensajes.CreateClienteTitle_direccion}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_zona}" for="zona" />
                        <p:inputText id="zona" value="#{clienteController.selected.zona}" title="#{mensajes.CreateClienteTitle_zona}"/>

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{clienteController.selected.telefono}" title="#{mensajes.CreateClienteTitle_telefono}"/>

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_correo}" for="correo" />
                        <p:inputText id="correo" value="#{clienteController.selected.correo}" title="#{mensajes.CreateClienteTitle_correo}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_rfc}" for="rfc" />
                        <p:inputText id="rfc" value="#{clienteController.selected.rfc}" title="#{mensajes.CreateClienteTitle_rfc}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{mensajes.CreateClienteLabel_status}" for="status" />
                        <p:inputText id="status" value="#{clienteController.selected.status}" title="#{mensajes.CreateClienteTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clienteController.saveNew}" value="#{mensajes.Save}" update="display,:ClienteListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ClienteCreateDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('ClienteCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
