<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ClienteEditDlg" widgetVar="ClienteEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.EditClienteTitle}" closeOnEscape="true">

            <h:form id="ClienteEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{clienteController.selected != null}">


                        <h:outputLabel value="#{mensajes.EditClienteLabel_idCliente}" for="idCliente" />
                        <h:outputText id="idCliente" value="#{clienteController.selected.idCliente}" />

                        <p:outputLabel value="#{mensajes.EditClienteLabel_password}" for="password" />
                        <p:inputText id="password" value="#{clienteController.selected.password}" title="#{mensajes.EditClienteTitle_password}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{mensajes.EditClienteLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{clienteController.selected.nombre}" title="#{mensajes.EditClienteTitle_nombre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditClienteLabel_apP}" for="apP" />
                        <p:inputText id="apP" value="#{clienteController.selected.apP}" title="#{mensajes.EditClienteTitle_apP}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditClienteLabel_apM}" for="apM" />
                        <p:inputText id="apM" value="#{clienteController.selected.apM}" title="#{mensajes.EditClienteTitle_apM}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditClienteLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{clienteController.selected.direccion}" title="#{mensajes.EditClienteTitle_direccion}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{mensajes.EditClienteLabel_zona}" for="zona" />
                        <p:inputText id="zona" value="#{clienteController.selected.zona}" title="#{mensajes.EditClienteTitle_zona}"/>

                        <p:outputLabel value="#{mensajes.EditClienteLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{clienteController.selected.telefono}" title="#{mensajes.EditClienteTitle_telefono}"/>

                        <p:outputLabel value="#{mensajes.EditClienteLabel_correo}" for="correo" />
                        <p:inputText id="correo" value="#{clienteController.selected.correo}" title="#{mensajes.EditClienteTitle_correo}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{mensajes.EditClienteLabel_rfc}" for="rfc" />
                        <p:inputText id="rfc" value="#{clienteController.selected.rfc}" title="#{mensajes.EditClienteTitle_rfc}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{mensajes.EditClienteLabel_status}" for="status" />
                        <p:inputText id="status" value="#{clienteController.selected.status}" title="#{mensajes.EditClienteTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clienteController.save}" value="#{mensajes.Save}" update="display,:ClienteListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ClienteEditDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('ClienteEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
