<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ClienteListForm">

        <p:panel header="#{mensajes.ListClienteTitle}">
            <p:contextMenu id="ClienteDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{mensajes.Create}" onclick="document.getElementById('ClienteListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{mensajes.View}" onclick="document.getElementById('ClienteListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{mensajes.Edit}" onclick="document.getElementById('ClienteListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{mensajes.Delete}" onclick="document.getElementById('ClienteListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{mensajes.ClienteMenuItem_ventasCollection}" icon="ui-icon-search"  action="#{clienteController.navigateVentasCollection}" disabled="#{empty clienteController.selected.ventasCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{clienteController.items}"
                         var="item"
                         rowKey="#{item.idCliente}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{clienteController.selected}">

                <p:ajax event="rowSelect"   update=":ClienteListForm:createButton :ClienteListForm:viewButton :ClienteListForm:editButton :ClienteListForm:deleteButton :ClienteListForm:ClienteDataTableContextMenu" listener="#{clienteController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":ClienteListForm:createButton :ClienteListForm:viewButton :ClienteListForm:editButton :ClienteListForm:deleteButton :ClienteListForm:ClienteDataTableContextMenu" listener="#{clienteController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ClienteListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idCliente}" filterBy="#{item.idCliente}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListClienteTitle_idCliente}"/>
                    </f:facet>
                    <h:outputText value="#{item.idCliente}"/>
                </p:column>


                <p:column sortBy="#{item.password}" filterBy="#{item.password}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListClienteTitle_password}"/>
                    </f:facet>
                    <h:outputText value="#{item.password}"/>
                </p:column>


                <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListClienteTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>


                <p:column sortBy="#{item.apP}" filterBy="#{item.apP}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListClienteTitle_apP}"/>
                    </f:facet>
                    <h:outputText value="#{item.apP}"/>
                </p:column>


                <p:column sortBy="#{item.apM}" filterBy="#{item.apM}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListClienteTitle_apM}"/>
                    </f:facet>
                    <h:outputText value="#{item.apM}"/>
                </p:column>


                <p:column sortBy="#{item.direccion}" filterBy="#{item.direccion}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListClienteTitle_direccion}"/>
                    </f:facet>
                    <h:outputText value="#{item.direccion}"/>
                </p:column>

                <!--
                                    <p:column sortBy="#{item.zona}" filterBy="#{item.zona}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListClienteTitle_zona}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.zona}"/>
                                    </p:column>
                -->
                <!--
                                    <p:column sortBy="#{item.telefono}" filterBy="#{item.telefono}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListClienteTitle_telefono}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.telefono}"/>
                                    </p:column>
                -->
                <!--
                                    <p:column sortBy="#{item.correo}" filterBy="#{item.correo}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListClienteTitle_correo}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.correo}"/>
                                    </p:column>
                -->
                <!--
                                    <p:column sortBy="#{item.rfc}" filterBy="#{item.rfc}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListClienteTitle_rfc}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.rfc}"/>
                                    </p:column>
                -->
                <!--
                                    <p:column sortBy="#{item.status}" filterBy="#{item.status}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListClienteTitle_status}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.status}"/>
                                    </p:column>
                -->

            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{mensajes.Create}" actionListener="#{clienteController.prepareCreate}" update=":ClienteCreateForm" oncomplete="PF('ClienteCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{mensajes.View}" update=":ClienteViewForm" oncomplete="PF('ClienteViewDialog').show()" disabled="#{empty clienteController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{mensajes.Edit}" update=":ClienteEditForm" oncomplete="PF('ClienteEditDialog').show()" disabled="#{empty clienteController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{mensajes.Delete}" actionListener="#{clienteController.delete}" update=":growl,datalist" disabled="#{empty clienteController.selected}">
                <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>