<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClienteViewDlg" widgetVar="ClienteViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.ViewClienteTitle}" closeOnEscape="true">

            <h:form id="ClienteViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{clienteController.selected != null}">

                        <h:outputText value="#{mensajes.ViewClienteLabel_idCliente}"/>
                        <h:outputText value="#{clienteController.selected.idCliente}" title="#{mensajes.ViewClienteTitle_idCliente}"/>

                        <h:outputText value="#{mensajes.ViewClienteLabel_password}"/>
                        <h:outputText value="#{clienteController.selected.password}" title="#{mensajes.ViewClienteTitle_password}"/>

                        <h:outputText value="#{mensajes.ViewClienteLabel_nombre}"/>
                        <h:outputText value="#{clienteController.selected.nombre}" title="#{mensajes.ViewClienteTitle_nombre}"/>

                        <h:outputText value="#{mensajes.ViewClienteLabel_apP}"/>
                        <h:outputText value="#{clienteController.selected.apP}" title="#{mensajes.ViewClienteTitle_apP}"/>

                        <h:outputText value="#{mensajes.ViewClienteLabel_apM}"/>
                        <h:outputText value="#{clienteController.selected.apM}" title="#{mensajes.ViewClienteTitle_apM}"/>

                        <h:outputText value="#{mensajes.ViewClienteLabel_direccion}"/>
                        <h:outputText value="#{clienteController.selected.direccion}" title="#{mensajes.ViewClienteTitle_direccion}"/>

                        <h:outputText value="#{mensajes.ViewClienteLabel_zona}"/>
                        <h:outputText value="#{clienteController.selected.zona}" title="#{mensajes.ViewClienteTitle_zona}"/>

                        <h:outputText value="#{mensajes.ViewClienteLabel_telefono}"/>
                        <h:outputText value="#{clienteController.selected.telefono}" title="#{mensajes.ViewClienteTitle_telefono}"/>

                        <h:outputText value="#{mensajes.ViewClienteLabel_correo}"/>
                        <h:outputText value="#{clienteController.selected.correo}" title="#{mensajes.ViewClienteTitle_correo}"/>

                        <h:outputText value="#{mensajes.ViewClienteLabel_rfc}"/>
                        <h:outputText value="#{clienteController.selected.rfc}" title="#{mensajes.ViewClienteTitle_rfc}"/>

                        <h:outputText value="#{mensajes.ViewClienteLabel_status}"/>
                        <h:outputText value="#{clienteController.selected.status}" title="#{mensajes.ViewClienteTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{mensajes.Close}" onclick="PF('ClienteViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
