<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MascotasCreateDlg" widgetVar="MascotasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{mensajes.CreateMascotasTitle}" closeOnEscape="true">

            <h:form id="MascotasCreateForm">

                <h:panelGroup id="display" rendered="#{mascotasController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{mensajes.CreateMascotasLabel_raza}" for="raza" />
                        <p:inputText id="raza" value="#{mascotasController.selected.raza}" title="#{mensajes.CreateMascotasTitle_raza}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateMascotasLabel_especie}" for="especie" />
                        <p:inputText id="especie" value="#{mascotasController.selected.especie}" title="#{mensajes.CreateMascotasTitle_especie}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateMascotasLabel_edad}" for="edad" />
                        <p:inputText id="edad" value="#{mascotasController.selected.edad}" title="#{mensajes.CreateMascotasTitle_edad}"/>

                        <p:outputLabel value="#{mensajes.CreateMascotasLabel_nombreImagen}" for="nombreImagen" />
                        <p:inputText id="nombreImagen" value="#{mascotasController.selected.nombreImagen}" title="#{mensajes.CreateMascotasTitle_nombreImagen}" size="30" maxlength="30"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{mascotasController.saveNew}" value="#{mensajes.Save}" update="display,:MascotasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('MascotasCreateDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('MascotasCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
