<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="MascotasEditDlg" widgetVar="MascotasEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.EditMascotasTitle}" closeOnEscape="true">

            <h:form id="MascotasEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{mascotasController.selected != null}">


                        <h:outputLabel value="#{mensajes.EditMascotasLabel_idMascota}" for="idMascota" />
                        <h:outputText id="idMascota" value="#{mascotasController.selected.idMascota}" />

                        <p:outputLabel value="#{mensajes.EditMascotasLabel_raza}" for="raza" />
                        <p:inputText id="raza" value="#{mascotasController.selected.raza}" title="#{mensajes.EditMascotasTitle_raza}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditMascotasLabel_especie}" for="especie" />
                        <p:inputText id="especie" value="#{mascotasController.selected.especie}" title="#{mensajes.EditMascotasTitle_especie}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditMascotasLabel_edad}" for="edad" />
                        <p:inputText id="edad" value="#{mascotasController.selected.edad}" title="#{mensajes.EditMascotasTitle_edad}"/>

                        <p:outputLabel value="#{mensajes.EditMascotasLabel_nombreImagen}" for="nombreImagen" />
                        <p:inputText id="nombreImagen" value="#{mascotasController.selected.nombreImagen}" title="#{mensajes.EditMascotasTitle_nombreImagen}" size="30" maxlength="30"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{mascotasController.save}" value="#{mensajes.Save}" update="display,:MascotasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('MascotasEditDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('MascotasEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
