<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="MascotasListForm">

        <p:panel header="#{mensajes.ListMascotasTitle}">
            <p:contextMenu id="MascotasDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{mensajes.Create}" onclick="document.getElementById('MascotasListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{mensajes.View}" onclick="document.getElementById('MascotasListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{mensajes.Edit}" onclick="document.getElementById('MascotasListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{mensajes.Delete}" onclick="document.getElementById('MascotasListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{mensajes.MascotasMenuItem_categoriaCollection}" icon="ui-icon-search"  action="#{mascotasController.navigateCategoriaCollection}" disabled="#{empty mascotasController.selected.categoriaCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{mascotasController.items}"
                         var="item"
                         rowKey="#{item.idMascota}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{mascotasController.selected}">

                <p:ajax event="rowSelect"   update=":MascotasListForm:createButton :MascotasListForm:viewButton :MascotasListForm:editButton :MascotasListForm:deleteButton :MascotasListForm:MascotasDataTableContextMenu" listener="#{mascotasController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":MascotasListForm:createButton :MascotasListForm:viewButton :MascotasListForm:editButton :MascotasListForm:deleteButton :MascotasListForm:MascotasDataTableContextMenu" listener="#{mascotasController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('MascotasListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idMascota}" filterBy="#{item.idMascota}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListMascotasTitle_idMascota}"/>
                    </f:facet>
                    <h:outputText value="#{item.idMascota}"/>
                </p:column>


                <p:column sortBy="#{item.raza}" filterBy="#{item.raza}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListMascotasTitle_raza}"/>
                    </f:facet>
                    <h:outputText value="#{item.raza}"/>
                </p:column>


                <p:column sortBy="#{item.especie}" filterBy="#{item.especie}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListMascotasTitle_especie}"/>
                    </f:facet>
                    <h:outputText value="#{item.especie}"/>
                </p:column>


                <p:column sortBy="#{item.edad}" filterBy="#{item.edad}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListMascotasTitle_edad}"/>
                    </f:facet>
                    <h:outputText value="#{item.edad}"/>
                </p:column>


                <p:column sortBy="#{item.nombreImagen}" filterBy="#{item.nombreImagen}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListMascotasTitle_nombreImagen}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreImagen}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{mensajes.Create}" actionListener="#{mascotasController.prepareCreate}" update=":MascotasCreateForm" oncomplete="PF('MascotasCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{mensajes.View}" update=":MascotasViewForm" oncomplete="PF('MascotasViewDialog').show()" disabled="#{empty mascotasController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{mensajes.Edit}" update=":MascotasEditForm" oncomplete="PF('MascotasEditDialog').show()" disabled="#{empty mascotasController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{mensajes.Delete}" actionListener="#{mascotasController.delete}" update=":growl,datalist" disabled="#{empty mascotasController.selected}">
                <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>