<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MascotasViewDlg" widgetVar="MascotasViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.ViewMascotasTitle}" closeOnEscape="true">

            <h:form id="MascotasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{mascotasController.selected != null}">

                        <h:outputText value="#{mensajes.ViewMascotasLabel_idMascota}"/>
                        <h:outputText value="#{mascotasController.selected.idMascota}" title="#{mensajes.ViewMascotasTitle_idMascota}"/>

                        <h:outputText value="#{mensajes.ViewMascotasLabel_raza}"/>
                        <h:outputText value="#{mascotasController.selected.raza}" title="#{mensajes.ViewMascotasTitle_raza}"/>

                        <h:outputText value="#{mensajes.ViewMascotasLabel_especie}"/>
                        <h:outputText value="#{mascotasController.selected.especie}" title="#{mensajes.ViewMascotasTitle_especie}"/>

                        <h:outputText value="#{mensajes.ViewMascotasLabel_edad}"/>
                        <h:outputText value="#{mascotasController.selected.edad}" title="#{mensajes.ViewMascotasTitle_edad}"/>

                        <h:outputText value="#{mensajes.ViewMascotasLabel_nombreImagen}"/>
                        <h:outputText value="#{mascotasController.selected.nombreImagen}" title="#{mensajes.ViewMascotasTitle_nombreImagen}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{mensajes.Close}" onclick="PF('MascotasViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
