<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AlimentosCreateDlg" widgetVar="AlimentosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{mensajes.CreateAlimentosTitle}" closeOnEscape="true">

            <h:form id="AlimentosCreateForm">

                <h:panelGroup id="display" rendered="#{alimentosController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{mensajes.CreateAlimentosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{alimentosController.selected.nombre}" title="#{mensajes.CreateAlimentosTitle_nombre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateAlimentosLabel_marca}" for="marca" />
                        <p:inputText id="marca" value="#{alimentosController.selected.marca}" title="#{mensajes.CreateAlimentosTitle_marca}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateAlimentosLabel_tipoAli}" for="tipoAli" />
                        <p:inputText id="tipoAli" value="#{alimentosController.selected.tipoAli}" title="#{mensajes.CreateAlimentosTitle_tipoAli}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.CreateAlimentosLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{alimentosController.selected.descripcion}" title="#{mensajes.CreateAlimentosTitle_descripcion}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{mensajes.CreateAlimentosLabel_nombreIma}" for="nombreIma" />
                        <p:inputText id="nombreIma" value="#{alimentosController.selected.nombreIma}" title="#{mensajes.CreateAlimentosTitle_nombreIma}" size="30" maxlength="30"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{alimentosController.saveNew}" value="#{mensajes.Save}" update="display,:AlimentosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('AlimentosCreateDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('AlimentosCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
