<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="AlimentosEditDlg" widgetVar="AlimentosEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.EditAlimentosTitle}" closeOnEscape="true">

            <h:form id="AlimentosEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{alimentosController.selected != null}">


                        <h:outputLabel value="#{mensajes.EditAlimentosLabel_idAlimento}" for="idAlimento" />
                        <h:outputText id="idAlimento" value="#{alimentosController.selected.idAlimento}" />

                        <p:outputLabel value="#{mensajes.EditAlimentosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{alimentosController.selected.nombre}" title="#{mensajes.EditAlimentosTitle_nombre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditAlimentosLabel_marca}" for="marca" />
                        <p:inputText id="marca" value="#{alimentosController.selected.marca}" title="#{mensajes.EditAlimentosTitle_marca}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditAlimentosLabel_tipoAli}" for="tipoAli" />
                        <p:inputText id="tipoAli" value="#{alimentosController.selected.tipoAli}" title="#{mensajes.EditAlimentosTitle_tipoAli}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{mensajes.EditAlimentosLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{alimentosController.selected.descripcion}" title="#{mensajes.EditAlimentosTitle_descripcion}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{mensajes.EditAlimentosLabel_nombreIma}" for="nombreIma" />
                        <p:inputText id="nombreIma" value="#{alimentosController.selected.nombreIma}" title="#{mensajes.EditAlimentosTitle_nombreIma}" size="30" maxlength="30"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{alimentosController.save}" value="#{mensajes.Save}" update="display,:AlimentosListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('AlimentosEditDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('AlimentosEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
