<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="AlimentosListForm">

        <p:panel header="#{mensajes.ListAlimentosTitle}">
            <p:contextMenu id="AlimentosDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{mensajes.Create}" onclick="document.getElementById('AlimentosListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{mensajes.View}" onclick="document.getElementById('AlimentosListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{mensajes.Edit}" onclick="document.getElementById('AlimentosListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{mensajes.Delete}" onclick="document.getElementById('AlimentosListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{mensajes.AlimentosMenuItem_categoriaCollection}" icon="ui-icon-search"  action="#{alimentosController.navigateCategoriaCollection}" disabled="#{empty alimentosController.selected.categoriaCollection}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{alimentosController.items}"
                         var="item"
                         rowKey="#{item.idAlimento}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{alimentosController.selected}">

                <p:ajax event="rowSelect"   update=":AlimentosListForm:createButton :AlimentosListForm:viewButton :AlimentosListForm:editButton :AlimentosListForm:deleteButton :AlimentosListForm:AlimentosDataTableContextMenu" listener="#{alimentosController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":AlimentosListForm:createButton :AlimentosListForm:viewButton :AlimentosListForm:editButton :AlimentosListForm:deleteButton :AlimentosListForm:AlimentosDataTableContextMenu" listener="#{alimentosController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('AlimentosListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idAlimento}" filterBy="#{item.idAlimento}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAlimentosTitle_idAlimento}"/>
                    </f:facet>
                    <h:outputText value="#{item.idAlimento}"/>
                </p:column>


                <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAlimentosTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>


                <p:column sortBy="#{item.marca}" filterBy="#{item.marca}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAlimentosTitle_marca}"/>
                    </f:facet>
                    <h:outputText value="#{item.marca}"/>
                </p:column>


                <p:column sortBy="#{item.tipoAli}" filterBy="#{item.tipoAli}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAlimentosTitle_tipoAli}"/>
                    </f:facet>
                    <h:outputText value="#{item.tipoAli}"/>
                </p:column>


                <p:column sortBy="#{item.descripcion}" filterBy="#{item.descripcion}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAlimentosTitle_descripcion}"/>
                    </f:facet>
                    <h:outputText value="#{item.descripcion}"/>
                </p:column>


                <p:column sortBy="#{item.nombreIma}" filterBy="#{item.nombreIma}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListAlimentosTitle_nombreIma}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreIma}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{mensajes.Create}" actionListener="#{alimentosController.prepareCreate}" update=":AlimentosCreateForm" oncomplete="PF('AlimentosCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{mensajes.View}" update=":AlimentosViewForm" oncomplete="PF('AlimentosViewDialog').show()" disabled="#{empty alimentosController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{mensajes.Edit}" update=":AlimentosEditForm" oncomplete="PF('AlimentosEditDialog').show()" disabled="#{empty alimentosController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{mensajes.Delete}" actionListener="#{alimentosController.delete}" update=":growl,datalist" disabled="#{empty alimentosController.selected}">
                <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>