<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AlimentosViewDlg" widgetVar="AlimentosViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.ViewAlimentosTitle}" closeOnEscape="true">

            <h:form id="AlimentosViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{alimentosController.selected != null}">

                        <h:outputText value="#{mensajes.ViewAlimentosLabel_idAlimento}"/>
                        <h:outputText value="#{alimentosController.selected.idAlimento}" title="#{mensajes.ViewAlimentosTitle_idAlimento}"/>

                        <h:outputText value="#{mensajes.ViewAlimentosLabel_nombre}"/>
                        <h:outputText value="#{alimentosController.selected.nombre}" title="#{mensajes.ViewAlimentosTitle_nombre}"/>

                        <h:outputText value="#{mensajes.ViewAlimentosLabel_marca}"/>
                        <h:outputText value="#{alimentosController.selected.marca}" title="#{mensajes.ViewAlimentosTitle_marca}"/>

                        <h:outputText value="#{mensajes.ViewAlimentosLabel_tipoAli}"/>
                        <h:outputText value="#{alimentosController.selected.tipoAli}" title="#{mensajes.ViewAlimentosTitle_tipoAli}"/>

                        <h:outputText value="#{mensajes.ViewAlimentosLabel_descripcion}"/>
                        <h:outputText value="#{alimentosController.selected.descripcion}" title="#{mensajes.ViewAlimentosTitle_descripcion}"/>

                        <h:outputText value="#{mensajes.ViewAlimentosLabel_nombreIma}"/>
                        <h:outputText value="#{alimentosController.selected.nombreIma}" title="#{mensajes.ViewAlimentosTitle_nombreIma}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{mensajes.Close}" onclick="PF('AlimentosViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
