<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrdenesCreateDlg" widgetVar="OrdenesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{mensajes.CreateOrdenesTitle}" closeOnEscape="true">

            <h:form id="OrdenesCreateForm">

                <h:panelGroup id="display" rendered="#{ordenesController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{mensajes.CreateOrdenesLabel_cantidadVen}" for="cantidadVen" />
                        <p:inputText id="cantidadVen" value="#{ordenesController.selected.cantidadVen}" title="#{mensajes.CreateOrdenesTitle_cantidadVen}"/>

                        <p:outputLabel value="#{mensajes.CreateOrdenesLabel_status}" for="status" />
                        <p:inputText id="status" value="#{ordenesController.selected.status}" title="#{mensajes.CreateOrdenesTitle_status}"/>

                        <p:outputLabel value="#{mensajes.CreateOrdenesLabel_deposito}" for="deposito" />
                        <p:inputText id="deposito" value="#{ordenesController.selected.deposito}" title="#{mensajes.CreateOrdenesTitle_deposito}"/>

                        <p:outputLabel value="#{mensajes.CreateOrdenesLabel_ordenStatus}" for="ordenStatus" />
                        <p:inputText id="ordenStatus" value="#{ordenesController.selected.ordenStatus}" title="#{mensajes.CreateOrdenesTitle_ordenStatus}"/>

                        <p:outputLabel value="#{mensajes.CreateOrdenesLabel_fechaTentativa}" for="fechaTentativa" />
                        <p:calendar id="fechaTentativa" pattern="MM/dd/yyyy" value="#{ordenesController.selected.fechaTentativa}" title="#{mensajes.CreateOrdenesTitle_fechaTentativa}"  showOn="button"/>

                        <p:outputLabel value="#{mensajes.CreateOrdenesLabel_fechaEntrega}" for="fechaEntrega" />
                        <p:calendar id="fechaEntrega" pattern="MM/dd/yyyy" value="#{ordenesController.selected.fechaEntrega}" title="#{mensajes.CreateOrdenesTitle_fechaEntrega}"  showOn="button"/>

                        <p:outputLabel value="#{mensajes.CreateOrdenesLabel_fechaEnvio}" for="fechaEnvio" />
                        <p:calendar id="fechaEnvio" pattern="MM/dd/yyyy" value="#{ordenesController.selected.fechaEnvio}" title="#{mensajes.CreateOrdenesTitle_fechaEnvio}"  showOn="button"/>

                        <p:outputLabel value="#{mensajes.CreateOrdenesLabel_idProducto}" for="idProducto" />
                        <p:selectOneMenu id="idProducto" value="#{ordenesController.selected.idProducto}" required="true" requiredMessage="#{mensajes.CreateOrdenesRequiredMessage_idProducto}" converter="productoConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{productoController.items}"
                                           var="idProductoItem"
                                           itemValue="#{idProductoItem}"
                                           itemLabel="#{idProductoItem.idProducto.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{mensajes.CreateOrdenesLabel_idVenta}" for="idVenta" />
                        <p:selectOneMenu id="idVenta" value="#{ordenesController.selected.idVenta}" required="true" requiredMessage="#{mensajes.CreateOrdenesRequiredMessage_idVenta}" converter="ventasConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{ventasController.items}"
                                           var="idVentaItem"
                                           itemValue="#{idVentaItem}"
                                           itemLabel="#{idVentaItem.idVenta.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ordenesController.saveNew}" value="#{mensajes.Save}" update="display,:OrdenesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('OrdenesCreateDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('OrdenesCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
