<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="OrdenesEditDlg" widgetVar="OrdenesEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.EditOrdenesTitle}" closeOnEscape="true">

            <h:form id="OrdenesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{ordenesController.selected != null}">


                        <h:outputLabel value="#{mensajes.EditOrdenesLabel_idOrden}" for="idOrden" />
                        <h:outputText id="idOrden" value="#{ordenesController.selected.idOrden}" />

                        <p:outputLabel value="#{mensajes.EditOrdenesLabel_cantidadVen}" for="cantidadVen" />
                        <p:inputText id="cantidadVen" value="#{ordenesController.selected.cantidadVen}" title="#{mensajes.EditOrdenesTitle_cantidadVen}"/>

                        <p:outputLabel value="#{mensajes.EditOrdenesLabel_status}" for="status" />
                        <p:inputText id="status" value="#{ordenesController.selected.status}" title="#{mensajes.EditOrdenesTitle_status}"/>

                        <p:outputLabel value="#{mensajes.EditOrdenesLabel_deposito}" for="deposito" />
                        <p:inputText id="deposito" value="#{ordenesController.selected.deposito}" title="#{mensajes.EditOrdenesTitle_deposito}"/>

                        <p:outputLabel value="#{mensajes.EditOrdenesLabel_ordenStatus}" for="ordenStatus" />
                        <p:inputText id="ordenStatus" value="#{ordenesController.selected.ordenStatus}" title="#{mensajes.EditOrdenesTitle_ordenStatus}"/>

                        <p:outputLabel value="#{mensajes.EditOrdenesLabel_fechaTentativa}" for="fechaTentativa" />
                        <p:calendar id="fechaTentativa" pattern="MM/dd/yyyy" value="#{ordenesController.selected.fechaTentativa}" title="#{mensajes.EditOrdenesTitle_fechaTentativa}"  showOn="button"/>

                        <p:outputLabel value="#{mensajes.EditOrdenesLabel_fechaEntrega}" for="fechaEntrega" />
                        <p:calendar id="fechaEntrega" pattern="MM/dd/yyyy" value="#{ordenesController.selected.fechaEntrega}" title="#{mensajes.EditOrdenesTitle_fechaEntrega}"  showOn="button"/>

                        <p:outputLabel value="#{mensajes.EditOrdenesLabel_fechaEnvio}" for="fechaEnvio" />
                        <p:calendar id="fechaEnvio" pattern="MM/dd/yyyy" value="#{ordenesController.selected.fechaEnvio}" title="#{mensajes.EditOrdenesTitle_fechaEnvio}"  showOn="button"/>

                        <p:outputLabel value="#{mensajes.EditOrdenesLabel_idProducto}" for="idProducto" />
                        <p:selectOneMenu id="idProducto" value="#{ordenesController.selected.idProducto}" required="true" requiredMessage="#{mensajes.EditOrdenesRequiredMessage_idProducto}" converter="productoConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{productoController.items}"
                                           var="idProductoItem"
                                           itemValue="#{idProductoItem}"
                                           itemLabel="#{idProductoItem.idProducto.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{mensajes.EditOrdenesLabel_idVenta}" for="idVenta" />
                        <p:selectOneMenu id="idVenta" value="#{ordenesController.selected.idVenta}" required="true" requiredMessage="#{mensajes.EditOrdenesRequiredMessage_idVenta}" converter="ventasConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{ventasController.items}"
                                           var="idVentaItem"
                                           itemValue="#{idVentaItem}"
                                           itemLabel="#{idVentaItem.idVenta.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ordenesController.save}" value="#{mensajes.Save}" update="display,:OrdenesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('OrdenesEditDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('OrdenesEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
