<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="OrdenesListForm">

        <p:panel header="#{mensajes.ListOrdenesTitle}">
            <p:contextMenu id="OrdenesDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{mensajes.Create}" onclick="document.getElementById('OrdenesListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{mensajes.View}" onclick="document.getElementById('OrdenesListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{mensajes.Edit}" onclick="document.getElementById('OrdenesListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{mensajes.Delete}" onclick="document.getElementById('OrdenesListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{mensajes.OrdenesMenuItem_idProducto}" icon="ui-icon-search"  actionListener="#{ordenesController.prepareIdProducto}" update=":ProductoViewForm" oncomplete="PF('ProductoViewDialog').show()" disabled="#{empty ordenesController.selected.idProducto}"/>  
                <p:menuitem value="#{mensajes.OrdenesMenuItem_idVenta}" icon="ui-icon-search"  actionListener="#{ordenesController.prepareIdVenta}" update=":VentasViewForm" oncomplete="PF('VentasViewDialog').show()" disabled="#{empty ordenesController.selected.idVenta}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{ordenesController.items}"
                         var="item"
                         rowKey="#{item.idOrden}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{ordenesController.selected}">

                <p:ajax event="rowSelect"   update=":OrdenesListForm:createButton :OrdenesListForm:viewButton :OrdenesListForm:editButton :OrdenesListForm:deleteButton :OrdenesListForm:OrdenesDataTableContextMenu" listener="#{ordenesController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":OrdenesListForm:createButton :OrdenesListForm:viewButton :OrdenesListForm:editButton :OrdenesListForm:deleteButton :OrdenesListForm:OrdenesDataTableContextMenu" listener="#{ordenesController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('OrdenesListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idOrden}" filterBy="#{item.idOrden}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListOrdenesTitle_idOrden}"/>
                    </f:facet>
                    <h:outputText value="#{item.idOrden}"/>
                </p:column>


                <p:column sortBy="#{item.cantidadVen}" filterBy="#{item.cantidadVen}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListOrdenesTitle_cantidadVen}"/>
                    </f:facet>
                    <h:outputText value="#{item.cantidadVen}"/>
                </p:column>


                <p:column sortBy="#{item.status}" filterBy="#{item.status}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListOrdenesTitle_status}"/>
                    </f:facet>
                    <h:outputText value="#{item.status}"/>
                </p:column>


                <p:column sortBy="#{item.deposito}" filterBy="#{item.deposito}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListOrdenesTitle_deposito}"/>
                    </f:facet>
                    <h:outputText value="#{item.deposito}"/>
                </p:column>


                <p:column sortBy="#{item.ordenStatus}" filterBy="#{item.ordenStatus}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListOrdenesTitle_ordenStatus}"/>
                    </f:facet>
                    <h:outputText value="#{item.ordenStatus}"/>
                </p:column>


                <p:column sortBy="#{item.fechaTentativa}" filterBy="#{item.fechaTentativa}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListOrdenesTitle_fechaTentativa}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaTentativa}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>

                <!--
                                    <p:column sortBy="#{item.fechaEntrega}" filterBy="#{item.fechaEntrega}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListOrdenesTitle_fechaEntrega}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.fechaEntrega}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputText>
                                    </p:column>
                -->
                <!--
                                    <p:column sortBy="#{item.fechaEnvio}" filterBy="#{item.fechaEnvio}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListOrdenesTitle_fechaEnvio}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.fechaEnvio}">
                                            <f:convertDateTime pattern="MM/dd/yyyy" />
                                        </h:outputText>
                                    </p:column>
                -->
                <!--
                                    <p:column sortBy="#{item.idProducto.idProducto}" filterBy="#{item.idProducto.idProducto}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListOrdenesTitle_idProducto}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idProducto.idProducto}"/>
                                    </p:column>
                -->
                <!--
                                    <p:column sortBy="#{item.idVenta.idVenta}" filterBy="#{item.idVenta.idVenta}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListOrdenesTitle_idVenta}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idVenta.idVenta}"/>
                                    </p:column>
                -->

            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{mensajes.Create}" actionListener="#{ordenesController.prepareCreate}" update=":OrdenesCreateForm" oncomplete="PF('OrdenesCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{mensajes.View}" update=":OrdenesViewForm" oncomplete="PF('OrdenesViewDialog').show()" disabled="#{empty ordenesController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{mensajes.Edit}" update=":OrdenesEditForm" oncomplete="PF('OrdenesEditDialog').show()" disabled="#{empty ordenesController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{mensajes.Delete}" actionListener="#{ordenesController.delete}" update=":growl,datalist" disabled="#{empty ordenesController.selected}">
                <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>