<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OrdenesViewDlg" widgetVar="OrdenesViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.ViewOrdenesTitle}" closeOnEscape="true">

            <h:form id="OrdenesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{ordenesController.selected != null}">

                        <h:outputText value="#{mensajes.ViewOrdenesLabel_idOrden}"/>
                        <h:outputText value="#{ordenesController.selected.idOrden}" title="#{mensajes.ViewOrdenesTitle_idOrden}"/>

                        <h:outputText value="#{mensajes.ViewOrdenesLabel_cantidadVen}"/>
                        <h:outputText value="#{ordenesController.selected.cantidadVen}" title="#{mensajes.ViewOrdenesTitle_cantidadVen}"/>

                        <h:outputText value="#{mensajes.ViewOrdenesLabel_status}"/>
                        <h:outputText value="#{ordenesController.selected.status}" title="#{mensajes.ViewOrdenesTitle_status}"/>

                        <h:outputText value="#{mensajes.ViewOrdenesLabel_deposito}"/>
                        <h:outputText value="#{ordenesController.selected.deposito}" title="#{mensajes.ViewOrdenesTitle_deposito}"/>

                        <h:outputText value="#{mensajes.ViewOrdenesLabel_ordenStatus}"/>
                        <h:outputText value="#{ordenesController.selected.ordenStatus}" title="#{mensajes.ViewOrdenesTitle_ordenStatus}"/>

                        <h:outputText value="#{mensajes.ViewOrdenesLabel_fechaTentativa}"/>
                        <h:outputText value="#{ordenesController.selected.fechaTentativa}" title="#{mensajes.ViewOrdenesTitle_fechaTentativa}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{mensajes.ViewOrdenesLabel_fechaEntrega}"/>
                        <h:outputText value="#{ordenesController.selected.fechaEntrega}" title="#{mensajes.ViewOrdenesTitle_fechaEntrega}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{mensajes.ViewOrdenesLabel_fechaEnvio}"/>
                        <h:outputText value="#{ordenesController.selected.fechaEnvio}" title="#{mensajes.ViewOrdenesTitle_fechaEnvio}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{mensajes.ViewOrdenesLabel_idProducto}"/>
                        <h:outputText value="#{ordenesController.selected.idProducto.idProducto}"/>

                        <h:outputText value="#{mensajes.ViewOrdenesLabel_idVenta}"/>
                        <h:outputText value="#{ordenesController.selected.idVenta.idVenta}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{mensajes.Close}" onclick="PF('OrdenesViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
