<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentasCreateDlg" widgetVar="VentasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{mensajes.CreateVentasTitle}" closeOnEscape="true">

            <h:form id="VentasCreateForm">

                <h:panelGroup id="display" rendered="#{ventasController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{mensajes.CreateVentasLabel_status}" for="status" />
                        <p:inputText id="status" value="#{ventasController.selected.status}" title="#{mensajes.CreateVentasTitle_status}"/>

                        <p:outputLabel value="#{mensajes.CreateVentasLabel_fechaPedido}" for="fechaPedido" />
                        <p:calendar id="fechaPedido" pattern="MM/dd/yyyy" value="#{ventasController.selected.fechaPedido}" title="#{mensajes.CreateVentasTitle_fechaPedido}"  showOn="button"/>

                        <p:outputLabel value="#{mensajes.CreateVentasLabel_tipoPago}" for="tipoPago" />
                        <p:inputText id="tipoPago" value="#{ventasController.selected.tipoPago}" title="#{mensajes.CreateVentasTitle_tipoPago}"/>

                        <p:outputLabel value="#{mensajes.CreateVentasLabel_subtotal}" for="subtotal" />
                        <p:inputText id="subtotal" value="#{ventasController.selected.subtotal}" title="#{mensajes.CreateVentasTitle_subtotal}"/>

                        <p:outputLabel value="#{mensajes.CreateVentasLabel_total}" for="total" />
                        <p:inputText id="total" value="#{ventasController.selected.total}" title="#{mensajes.CreateVentasTitle_total}"/>

                        <p:outputLabel value="#{mensajes.CreateVentasLabel_idCliente}" for="idCliente" />
                        <p:selectOneMenu id="idCliente" value="#{ventasController.selected.idCliente}" required="true" requiredMessage="#{mensajes.CreateVentasRequiredMessage_idCliente}" converter="clienteConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{clienteController.items}"
                                           var="idClienteItem"
                                           itemValue="#{idClienteItem}"
                                           itemLabel="#{idClienteItem.idCliente.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{mensajes.CreateVentasLabel_idUsuario}" for="idUsuario" />
                        <p:selectOneMenu id="idUsuario" value="#{ventasController.selected.idUsuario}" required="true" requiredMessage="#{mensajes.CreateVentasRequiredMessage_idUsuario}" converter="usuariosConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.items}"
                                           var="idUsuarioItem"
                                           itemValue="#{idUsuarioItem}"
                                           itemLabel="#{idUsuarioItem.idUsuario.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ventasController.saveNew}" value="#{mensajes.Save}" update="display,:VentasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('VentasCreateDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('VentasCreateDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
