<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="VentasEditDlg" widgetVar="VentasEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.EditVentasTitle}" closeOnEscape="true">

            <h:form id="VentasEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{ventasController.selected != null}">


                        <h:outputLabel value="#{mensajes.EditVentasLabel_idVenta}" for="idVenta" />
                        <h:outputText id="idVenta" value="#{ventasController.selected.idVenta}" />

                        <p:outputLabel value="#{mensajes.EditVentasLabel_status}" for="status" />
                        <p:inputText id="status" value="#{ventasController.selected.status}" title="#{mensajes.EditVentasTitle_status}"/>

                        <p:outputLabel value="#{mensajes.EditVentasLabel_fechaPedido}" for="fechaPedido" />
                        <p:calendar id="fechaPedido" pattern="MM/dd/yyyy" value="#{ventasController.selected.fechaPedido}" title="#{mensajes.EditVentasTitle_fechaPedido}"  showOn="button"/>

                        <p:outputLabel value="#{mensajes.EditVentasLabel_tipoPago}" for="tipoPago" />
                        <p:inputText id="tipoPago" value="#{ventasController.selected.tipoPago}" title="#{mensajes.EditVentasTitle_tipoPago}"/>

                        <p:outputLabel value="#{mensajes.EditVentasLabel_subtotal}" for="subtotal" />
                        <p:inputText id="subtotal" value="#{ventasController.selected.subtotal}" title="#{mensajes.EditVentasTitle_subtotal}"/>

                        <p:outputLabel value="#{mensajes.EditVentasLabel_total}" for="total" />
                        <p:inputText id="total" value="#{ventasController.selected.total}" title="#{mensajes.EditVentasTitle_total}"/>

                        <p:outputLabel value="#{mensajes.EditVentasLabel_idCliente}" for="idCliente" />
                        <p:selectOneMenu id="idCliente" value="#{ventasController.selected.idCliente}" required="true" requiredMessage="#{mensajes.EditVentasRequiredMessage_idCliente}" converter="clienteConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{clienteController.items}"
                                           var="idClienteItem"
                                           itemValue="#{idClienteItem}"
                                           itemLabel="#{idClienteItem.idCliente.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{mensajes.EditVentasLabel_idUsuario}" for="idUsuario" />
                        <p:selectOneMenu id="idUsuario" value="#{ventasController.selected.idUsuario}" required="true" requiredMessage="#{mensajes.EditVentasRequiredMessage_idUsuario}" converter="usuariosConverter">
                            <f:selectItem itemLabel="#{mensajes.SelectOneMessage}"/>
                            <f:selectItems value="#{usuariosController.items}"
                                           var="idUsuarioItem"
                                           itemValue="#{idUsuarioItem}"
                                           itemLabel="#{idUsuarioItem.idUsuario.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ventasController.save}" value="#{mensajes.Save}" update="display,:VentasListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('VentasEditDialog'));">
                        <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{mensajes.Cancel}" onclick="PF('VentasEditDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
