<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="VentasListForm">

        <p:panel header="#{mensajes.ListVentasTitle}">
            <p:contextMenu id="VentasDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{mensajes.Create}" onclick="document.getElementById('VentasListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{mensajes.View}" onclick="document.getElementById('VentasListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{mensajes.Edit}" onclick="document.getElementById('VentasListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{mensajes.Delete}" onclick="document.getElementById('VentasListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{mensajes.VentasMenuItem_ordenesCollection}" icon="ui-icon-search"  action="#{ventasController.navigateOrdenesCollection}" disabled="#{empty ventasController.selected.ordenesCollection}" ajax="false"/>  
                <p:menuitem value="#{mensajes.VentasMenuItem_idCliente}" icon="ui-icon-search"  actionListener="#{ventasController.prepareIdCliente}" update=":ClienteViewForm" oncomplete="PF('ClienteViewDialog').show()" disabled="#{empty ventasController.selected.idCliente}"/>  
                <p:menuitem value="#{mensajes.VentasMenuItem_idUsuario}" icon="ui-icon-search"  actionListener="#{ventasController.prepareIdUsuario}" update=":UsuariosViewForm" oncomplete="PF('UsuariosViewDialog').show()" disabled="#{empty ventasController.selected.idUsuario}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{ventasController.items}"
                         var="item"
                         rowKey="#{item.idVenta}"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{ventasController.selected}">

                <p:ajax event="rowSelect"   update=":VentasListForm:createButton :VentasListForm:viewButton :VentasListForm:editButton :VentasListForm:deleteButton :VentasListForm:VentasDataTableContextMenu" listener="#{ventasController.resetParents}"/>
                <p:ajax event="rowUnselect" update=":VentasListForm:createButton :VentasListForm:viewButton :VentasListForm:editButton :VentasListForm:deleteButton :VentasListForm:VentasDataTableContextMenu" listener="#{ventasController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('VentasListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idVenta}" filterBy="#{item.idVenta}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListVentasTitle_idVenta}"/>
                    </f:facet>
                    <h:outputText value="#{item.idVenta}"/>
                </p:column>


                <p:column sortBy="#{item.status}" filterBy="#{item.status}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListVentasTitle_status}"/>
                    </f:facet>
                    <h:outputText value="#{item.status}"/>
                </p:column>


                <p:column sortBy="#{item.fechaPedido}" filterBy="#{item.fechaPedido}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListVentasTitle_fechaPedido}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaPedido}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.tipoPago}" filterBy="#{item.tipoPago}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListVentasTitle_tipoPago}"/>
                    </f:facet>
                    <h:outputText value="#{item.tipoPago}"/>
                </p:column>


                <p:column sortBy="#{item.subtotal}" filterBy="#{item.subtotal}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListVentasTitle_subtotal}"/>
                    </f:facet>
                    <h:outputText value="#{item.subtotal}"/>
                </p:column>


                <p:column sortBy="#{item.total}" filterBy="#{item.total}">
                    <f:facet name="header">
                        <h:outputText value="#{mensajes.ListVentasTitle_total}"/>
                    </f:facet>
                    <h:outputText value="#{item.total}"/>
                </p:column>

                <!--
                                    <p:column sortBy="#{item.idCliente.idCliente}" filterBy="#{item.idCliente.idCliente}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListVentasTitle_idCliente}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idCliente.idCliente}"/>
                                    </p:column>
                -->
                <!--
                                    <p:column sortBy="#{item.idUsuario.idUsuario}" filterBy="#{item.idUsuario.idUsuario}">
                                        <f:facet name="header">
                                            <h:outputText value="#{mensajes.ListVentasTitle_idUsuario}"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idUsuario.idUsuario}"/>
                                    </p:column>
                -->

            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{mensajes.Create}" actionListener="#{ventasController.prepareCreate}" update=":VentasCreateForm" oncomplete="PF('VentasCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{mensajes.View}" update=":VentasViewForm" oncomplete="PF('VentasViewDialog').show()" disabled="#{empty ventasController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{mensajes.Edit}" update=":VentasEditForm" oncomplete="PF('VentasEditDialog').show()" disabled="#{empty ventasController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{mensajes.Delete}" actionListener="#{ventasController.delete}" update=":growl,datalist" disabled="#{empty ventasController.selected}">
                <p:confirm header="#{mensajes.ConfirmationHeader}" message="#{mensajes.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/confirmation.xhtml"/>
    </h:form>

</ui:composition>