<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VentasViewDlg" widgetVar="VentasViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{mensajes.ViewVentasTitle}" closeOnEscape="true">

            <h:form id="VentasViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{ventasController.selected != null}">

                        <h:outputText value="#{mensajes.ViewVentasLabel_idVenta}"/>
                        <h:outputText value="#{ventasController.selected.idVenta}" title="#{mensajes.ViewVentasTitle_idVenta}"/>

                        <h:outputText value="#{mensajes.ViewVentasLabel_status}"/>
                        <h:outputText value="#{ventasController.selected.status}" title="#{mensajes.ViewVentasTitle_status}"/>

                        <h:outputText value="#{mensajes.ViewVentasLabel_fechaPedido}"/>
                        <h:outputText value="#{ventasController.selected.fechaPedido}" title="#{mensajes.ViewVentasTitle_fechaPedido}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{mensajes.ViewVentasLabel_tipoPago}"/>
                        <h:outputText value="#{ventasController.selected.tipoPago}" title="#{mensajes.ViewVentasTitle_tipoPago}"/>

                        <h:outputText value="#{mensajes.ViewVentasLabel_subtotal}"/>
                        <h:outputText value="#{ventasController.selected.subtotal}" title="#{mensajes.ViewVentasTitle_subtotal}"/>

                        <h:outputText value="#{mensajes.ViewVentasLabel_total}"/>
                        <h:outputText value="#{ventasController.selected.total}" title="#{mensajes.ViewVentasTitle_total}"/>

                        <h:outputText value="#{mensajes.ViewVentasLabel_idCliente}"/>
                        <h:outputText value="#{ventasController.selected.idCliente.idCliente}"/>

                        <h:outputText value="#{mensajes.ViewVentasLabel_idUsuario}"/>
                        <h:outputText value="#{ventasController.selected.idUsuario.idUsuario}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{mensajes.Close}" onclick="PF('VentasViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
