<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{mensajes.Home}" outcome="/index" icon="ui-icon-home"/>
                <p:submenu label="#{mensajes.Maintenance}">
                    <p:menuitem value="#{mensajes.AccesoriosHeading}..." outcome="/accesorios/index" />
                    <p:menuitem value="#{mensajes.AlimentosHeading}..." outcome="/alimentos/index" />
                    <p:menuitem value="#{mensajes.CategoriaHeading}..." outcome="/categoria/index" />
                    <p:menuitem value="#{mensajes.ClienteHeading}..." outcome="/cliente/index" />
                    <p:menuitem value="#{mensajes.MascotasHeading}..." outcome="/mascotas/index" />
                    <p:menuitem value="#{mensajes.OrdenesHeading}..." outcome="/ordenes/index" />
                    <p:menuitem value="#{mensajes.ProductoHeading}..." outcome="/producto/index" />
                    <p:menuitem value="#{mensajes.UsuariosHeading}..." outcome="/usuarios/index" />
                    <p:menuitem value="#{mensajes.VentasHeading}..." outcome="/ventas/index" />
                </p:submenu>
            </p:menubar>
        </h:form>
    </ui:composition>

</html>